# Tuples

In [1]:
# Creating a tuple
t = ("apple", "banana", "mango", 2)

## Different ways of representing Tuples

In [2]:
a = (1,2,3,4)
b = 1,2,3,4

c1 = (1)
c2 = (1,)

d1 = 1
d2 = 1,

print(type(a))
print(type(b))
print()
print(type(c1))
print(type(c2))
print()
print(type(d1))
print(type(d2))

<class 'tuple'>
<class 'tuple'>

<class 'int'>
<class 'tuple'>

<class 'int'>
<class 'tuple'>

## Operations in a Tuple

### The following operations in tuple are NOT possible owing to its immutability
1. Append, Insert, Extend (3,4,5)
11. Remove, Pop, Del, Clear (10,11,12,13)
10. Replace (9)
9. Sorting of a Tuple (8)

### The following operations in tuple are same as that of list
1. Accessing Items (1)
2. Loop through tuples (2)
6. Concatenation (6)
7. Copy of a Tuple (7)
15. Mathematical Operations (14)

### 1. Accessing Items (1)

In [3]:
# Accessing first item
print("First Item:",t[1])

# Accessing last item
print("Last Item:", t[-1])

# Accessing the whole list
print("Whole Tuple:", t[:])

# Reversing the list
print ("Reversed Tuple:", t[::-1])

First Item: banana
Last Item: 2
Whole Tuple: ('apple', 'banana', 'mango', 2)
Reversed Tuple: (2, 'mango', 'banana', 'apple')

### 2. Loop through a Tuple (2)

In [4]:
# Method_1
for i in t:
    print(i)

apple
banana
mango
2

In [5]:
# Method_2
for i in range(len(t)):
    print(t[i])

apple
banana
mango
2

### 3. Concatenation (3)

In [6]:
t1 = (1,2,3)
t2 = (4,5,"apple")

print(t1 + t2)

(1, 2, 3, 4, 5, 'apple')

### 4. Copy of a Tuple (7)

In [7]:
# A tuple can be copied simply by t1 = t2 
# This is because it doesn't allow any changes once it is declared

t1 = ("apple", "banana", "mango", 2)
t2 = t1

print(t1)
print(t2)

('apple', 'banana', 'mango', 2)
('apple', 'banana', 'mango', 2)

### 5. Mathematical Operations (14)

In [8]:
t = (1,2,3,4)

# Sum
print("Sum:",sum(t))

# Max
print("Max:", max(t))

# Min
print("Min:", min(t))

Sum: 10
Max: 4
Min: 1