## 4) Comprehensions

1. List Comprehension
2. Dictionary Comprehension

### 1. List Comprehension
Example ==> Get the list of nos divisible by 15

In [1]:
## Normal Loop 

num_list = [45, 55, 60, 37, 100, 105, 220]
result = []

for i in num_list:
    if i%15 == 0:
        result.append(i)
    else:
        continue
        
print(result)

[45, 60, 105]

In [2]:
# List Comprehension

num_list = [45, 55, 60, 37, 100, 105, 220]

result = [i for i in num_list if i%15 == 0]
print(result)

[45, 60, 105]

In [3]:
# Nested List Comprehension
## Print a (letter,number) pair for each letters in "abc" and each numbers in 0,1

li = [(i,j) for i in "abc" for j in range(2)]
print(li)

[('a', 0), ('a', 1), ('b', 0), ('b', 1), ('c', 0), ('c', 1)]

### 2. Dictionary Comprehension
Example ==> Get the dictionary of odd numbers that are present in the given list as keys and their cubes as values

In [4]:
## Normal Loop

num_list = [1, 2, 3, 4, 5, 6] 
result = {}

for i in num_list:
    if i%2 != 0:
        result[i] = i**3
        
print(result)

{1: 1, 3: 27, 5: 125}

In [5]:
# Dictionary Comprehension

num_list = [1, 2, 3, 4, 5, 6] 
result = {i:i**3 for i in num_list if i%2 != 0}

print(result)

{1: 1, 3: 27, 5: 125}

In [6]:
# Concatenating 2 lists using Dictionary Comprehension

heros = ["Batman", "Spiderman", "Wolverine"]
names = ["Bruce", "Peter","Logan"]

print({i:j for i,j in zip(heros, names)})

{'Batman': 'Bruce', 'Spiderman': 'Peter', 'Wolverine': 'Logan'}